<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board App</title>
</head>
<body>
    <h2>This is Home page with posts</h2>
    <div style="border: 1px solid salmon;">
        {% for post in object_list %}
        <h3>{{ post.text }}</h3>
        {% endfor %}
    </div>

    <div style="border: 1px solid salmon;">
        {% for post in all_posts %}
        <h3>{{ post.text }}</h3>
        {% endfor %}
    </div>
</body>
</html>